body
{ 
    margin :0; 
    border:0; 
    margin-top: 150px; 
    
    background: url("http://mblogthumb4.phinf.naver.net/20160423_115/kttrew2014_1461367892112jEAIR_JPEG/maxresdefault.jpg?type=w800") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mf{ 
    opacity: 0.85;
    font-size : 15px;
    background: url("bg3.jpg") center; 
    background-size: cover;
}

#send_email{float : right ;font-size : 20px;}